dl{
    margin: 10px;
}

#bottom {clear:left;position:relative;top:200px;margin:0px auto;width:500px;height:40px;padding-left:23px;padding-top:20px;
	overflow:hidden;color:#1C5F8C;text-align:center; line-height:40px;font-size:16px;}
